{% extends "../base.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/Edit.css' %}">
{% endblock %}

{% block body_header %}
<!--Profile section tags-->

<div class="edit">
	<div class="edit-label">
		<img src="{% static 'images/edit-profile.png'%}" alt="" width="50px" height="50px" style="margin-bottom: 17px">
		<label id="label2"><h3>Edit Profile</h3></label><br>
	</div>


	<div class="profile">
		<div class="profile-div">
			<div class="profile-form">
				<br>
				<form class="" action="{% url 'edit' %}" method="post" autocomplete="off">
					{% csrf_token %}
					{{form.as_p}}
					<br>
					 <p >
						 <input type="submit" value="EDIT PROFILE" class="btn-edit" style="margin-left: 143px"/>
					</p>
			</form>
			</div>
		</div>
	</div>
</div>

<!--End of Profile section tags-->

{% endblock %}
