{% extends "../base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/userprofile.min.css' %}">
{% endblock %}

{% block body %}
  <br>
  <h2>Welcome, {{ user.first_name }}</h2>
  <div class="action-list">
    <div class="action">
      <a href="#" class="action-head">Your orders</a>
      <p class="p">Track, return or buy things again</p>
    </div>
    <div class="action">
      <a class="action-head" href="{% url 'edit' %}">Login and security</a>
      <p class="p">Edit login, name, and mobile number</p>
    </div>
    <div class="action">
      <a class="action-head" href="{% url 'books' %}">Shop books</a>
      <p class="p">Search books, use filter and sort and buy books</p>
    </div>
  </div>
  <br><br>
  <h2>In search of a book?</h2><br>
  <div class="search">
    <form class="" action="{% url 'book_search' %}" method="GET">
      <input class="search__input" type="text" placeholder="Search" name="q">
    </form>
  </div>
{% endblock %}



{% block script %}

{% endblock %}
