{% extends "../base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/book_detail.min.css' %}">
{% endblock %}

{% block body %}

  <div class="content">
    {% if book.image %}
      <img src="{{book.image.url}}" class="image" alt="" width="50px">
    {% else %}
      <img src="{% static 'images/logo1.png' %}" class="image" alt="" width="50px">
    {% endif %}

    <p class="title">{{book.title}}</p>
    <p class="author">by {{book.author}}</p>
    <p class="publisher">Publisher: {{book.publisher}}</p>
    <p class="selling-price">₹{{book.selling_price}}</p>
    <p class="actual-price">₹{{book.actual_price}}</p>

    <br>
    <p class="seller">Seller: {{book.user_id.first_name}}</p>
    <p class="seller">Email: {{ book.user_id.email }}</p>
  </div>
  {% if user.is_authenticated %}
  <button onclick="location.href = '{% url 'order-book' book_id=book.id %}';"  type="button" class=".buy" name="button">Buy Now</button>
  {% else %}
  <button onclick="location.href = '{% url 'index' %}';" type="button" name="button">Login to buy</button>
  {% endif %}
{% endblock %}
