{% extends "../base.html" %}
{% load static %}

{% block head %}
<title>Books page</title>
<link rel="stylesheet" href="{% static 'css/bookss.min.css' %}">
<link rel="stylesheet" href="{% static 'css/sticky-nav.min.css' %}">
<link rel="stylesheet" href="{% static 'css/book.css' %}">
{% endblock %}

{% block body_header %}
  {% include "../sticky-nav.html" %}
{% endblock %}

{% block body %}

  <div class="books">
    {% for book in books %}
      <div class="book">

        {% include "../book.html" %}

        <div class="book-text">
          <a class="title" href="{% url 'book_detail' book_id=book.id %}">{{book.title}}</a>
          <p class="author">by {{book.author}}</p>
          <p class="publisher">{{book.publisher}}</p>
          <p class="selling-price">₹{{book.selling_price}}</p>
          <p class="actual-price">₹{{book.actual_price}}</p>
        </div>
        <div class="book-menu">
          <img src="{% static 'images/three-dots.svg' %}" alt="">
        </div>
      </div>
      <hr>
    {% endfor %}
  </div>

{% endblock %}
