{% extends "../base.html" %}
{% load static %}

{% block head %}
<title>Books page</title>
<link rel="stylesheet" href="{% static 'css/bookss.min.css' %}">
<link rel="stylesheet" href="{% static 'css/sticky-nav.min.css' %}">
{% endblock %}

{% block body_header %}
  {% include "../sticky-nav.html" %}
{% endblock %}

{% block body %}

  <div class="books">
    {% for book in books %}
      <div class="book">
        {% if book.image %}
          <img src="{{book.image.url}}" alt="" width="50px">
        {% else %}
          <img src="{% static 'images/logo1.png' %}" alt="" width="50px">
        {% endif %}
        <p class="title">{{book.title}}</p>
        <p class="author">{{book.author}}</p>
        <p class="publisher">{{book.publisher}}</p>
        <p class="actual-price">{{book.actual_price}}</p>
        <p class="selling-price">{{book.selling_price}}</p>
      </div>
    {% endfor %}
  </div>

{% endblock %}
