{% extends "../base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/bookss.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/sticky-nav.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/book.css' %}">
{% endblock %}

{% block body_header %}
  {% include "../sticky-nav.html" %}
{% endblock %}

{% block body %}
<h1 style="color:#d82a4e; margin-bottom: 20px;">All books in Category: {{genre}}</h1>

<div class="books">
  {% for book in books %}
    <div class="book">

      {% include "../book.html" %}

      <div class="book-text">
        <a class="title" href="{% url 'book_detail' book_id=book.id %}">{{book.title}}</a>
        <p class="author">by {{book.author}}</p>
        <p class="publisher">{{book.publisher}}</p>
        <p class="selling-price">₹{{book.selling_price}}</p>
        <p class="actual-price">₹{{book.actual_price}}</p>
      </div>
    </div>
    <hr>
  {% endfor %}
</div>
{% endblock %}
