
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Gotu&family=Inria+Sans&family=Quicksand&family=Sen&display=swap');
.books {

  margin-top: 20px;

  .book {
    // display: block;
    position: relative;
    clear: both;
    height: 218px;
    margin-left: 20px;
    margin-top: 20px;

    .book-menu {
      position: absolute;
      right: 20px;
      top: 10px;
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;
      transition: transform .5s ease-in-out;
      transform-origin: center;

      img {
        width: 20px;
        height:20px;

      }

      &:hover {
        transform: rotate(180deg);
      }
    }
  }

  .book-image {
    width: 185px;
    height: 218px;
    float: left;
  }

  .book-text {
    float: left;
    padding-top: 10px;
    padding-left: 50px;
    height: 218px;

    .title {
      font-family: 'Baloo Thambi 2', cursive;
      font-size: 2.2em;
      color: black;
      cursor: pointer;
      padding: 15px 0px;
      position: relative;
    }
    .author {
      font-family: 'Gotu', sans-serif;
      font-size: 1.2em;
      position: relative;
      font-weight: 800;
      // margin-left: 50px;
    }
    .publisher {
      font-family: 'Sen', sans-serif;
      font-size: 1em;
    }
    .selling-price {
      font-family: 'Quicksand', sans-serif;
      font-size: 1.5em;
      float: left;
      position: absolute;
      bottom: 0;
      font-weight: bold;
    }
    .actual-price {
      font-family: 'Inria Sans', sans-serif;
      text-decoration: line-through;
      font-size: 1.2em;
      float: left;
      position: absolute;
      bottom: 0;
      margin-left: 100px;
    }
  }
}
