
.review {
  margin: 30px 0px;
}
.review .review-heading {
  /* text-align: center; */
  font-size: 1.5em;
  /* font-style: italic; */
  position: absolute;
  color: #333;
  font-family: cursive;
  margin-left: 22%;
  margin-top: 20px;
  z-index: 1;
}

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
  filter: blur(5px);
}

.gallery-cell.is-selected {
  /* background-color: #ED2; */
  filter: blur(0px);
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  /* content: counter(gallery-cell); */
  line-height: 300px;
  font-size: 80px;
  color: white;
}
