<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <!-- meta tag is used for control the size of page -->
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- end meta tag-->

    <!-- css , javascript ,font link-->
  	<link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}"/>

    <link href="{%static 'images/favicon.ico' %}" rel="shortcut icon"/>
    <link rel="stylesheet" href="{%static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}" />
    <link href="{%static 'css/landingpage.css' %}" rel="stylesheet" type="text/css" media="only screen and (min-device-width: 481px">
    <script  type="text/javascript" charset="utf-8" src="{%static '/javascript/myscripts.js'%}"></script>
    <script type="text/javascript" charset="utf-8" src="{%static  '/javascript/validate.js' %} "></script>
   <!-- end link-->
   <title>PickABook | Book Title</title>

</head>

<!--end head -- >

<!-- start body -->
<body>
    </body>
</html>