{% load static %}

<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      {% if book.image %}
        <img src="{{book.image.url}}" alt="" width="50px" class="book-image">
      {% else %}
        <img src="{% static 'images/logo1.png' %}" alt="" width="50px" class="book-image">
      {% endif %}
    </div>
    <div class="flip-box-back">
      {% if book.desc %}
        <p>{{ book.desc }}</p>
      {% else %}
        <p>{{book.title}} is written by {{book.author}} and it is available in {{book.language}} language. Buy it now at just {{book.selling_price}}. </p>
      {% endif %}
    </div>
  </div>
</div>
