{% load static %}
<p class="review-heading"> Reviews</p>
<div class="review">
  <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
    <div class="gallery-cell effect7 box">
      <div class="person-text">
        <img src="{% static 'images/profile/profile.png' %}" alt="">
        <a href="#">Jessica</a>
      </div>
      <div class="review-text">
        <h4>Love these prices for great books ❤️❤️❤️</h4>
        <p>I think it is great being able to get good secondhand books at a reasonable price.</p>
      </div>
    </div>
    <div class="gallery-cell effect7 box">
      <div class="person-text">
        <img src="{% static 'images/profile/profile.png' %}" alt="">
        <a href="#">James C.</a>
      </div>
      <div class="review-text">
        <h4>Easy ordering and great selection.</h4>
        <p>They give back so others can improve their learning and experience
          Quick, efficient and fruitful.</p>
      </div>
    </div>
    <div class="gallery-cell effect7 box">
      <div class="person-text">
        <img src="{% static 'images/profile/profile.png' %}" alt="">
        <a href="#">Amanda</a>
      </div>
      <div class="review-text">
        <h4>Great service & worthy literacy mission.</h4>
        <p>I always find the obscure and academic books I need and I love the idea of contributing to a good cause and aligning with a company that hold those ideals</p>
      </div>
    </div>
    <div class="gallery-cell effect7 box">
      <div class="person-text">
        <img src="{% static 'images/profile/profile.png' %}" alt="">
        <a href="#">Nick P.</a>
      </div>
      <div class="review-text">
        <h4>I found just what I needed!</h4>
        <p>Bought here before and loved it!!</p>
      </div>
    </div>
    <div class="gallery-cell effect7 box">
      <div class="person-text">
        <img src="{% static 'images/profile/profile.png' %}" alt="">
        <a href="#">Richard H.</a>
      </div>
      <div class="review-text">
        <h4>Great options, good prices, and free shipping</h4>
        <p>I love your mission's dedication to worldwide literacy, I love the reasonable cost, I love the recycling aspect and I love that you're not owned by Jeff Bezos.</p>
      </div>
    </div>
    <div class="gallery-cell effect7 box">
      <div class="person-text">
        <img src="{% static 'images/profile/profile.png' %}" alt="">
        <a href="#">Lisa R. </a>
      </div>
      <div class="review-text">
        <h4>Free shipping and cheap options</h4>
        <p>First choice when buying books online.</p>
      </div>
    </div>
  </div>
</div>
