
<div class="review">
  <p class="review-heading"> Reviews</p>
  <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
    <div class="gallery-cell">
        {% comment %}
        <div class="review-cell">
          <img src="{% static 'images/profpic1' %}" alt="">
          <p>Name</p>

        </div>

        {% endcomment %}
    </div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
  </div>
</div>
