{% load static %}
<p class="review-heading"> Reviews</p>
<div class="review">
  <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
    <div class="gallery-cell">
      <div class="person-text">
        <img src="{% static 'images/profile/profile.png' %}" alt="">
        <a href="#">Hercules</a>
      </div>
      <div class="review-text">
        <h4>Useful Site</h4>
        <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why would Hollywood start now?
          This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The last Stand director Brett Ratner.
          If the name of the director wasn't enough to dissuade ...</p>
      </div>

    </div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
  </div>
</div>
