<div class="sticky-nav">
  <div class="search">
    <form class="" action="{% url 'book_search' %}" method="GET">
      <input class="search__input" type="text" placeholder="Search" name="q">
    </form>
  </div>
  {% comment %}
    <div class="filter">
      <!-- <i class="fa fa-filter" aria-hidden="true"></i>Filter -->
      <span class="icon">v</span> Filter
    </div>
    <div class="sort">
      <!-- <i class="fa fa-sort"></i>Sort -->
      <span class="icon">v</span> Sort
    </div>
  {% endcomment %}
</div>
